<mat-toolbar>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-menu-item [matMenuTriggerFor]="lang" id="lang">
            <img src="assets/icons/route.png" id="activeLanguage" />
    </button>
    <mat-menu #lang="matMenu">
        <button mat-menu-item (click)="changeLanguage('it')">
            <img src="assets/icons/italy.png" class="menuFlag">
            <span class="menuLanguage">Italiano</span>
          </button>
          <button mat-menu-item (click)="changeLanguage('en')">
            <img src="assets/icons/united-kingdom.png" class="menuFlag">
            <span class="menuLanguage">Inglese</span>
          </button>
    </mat-menu>
</mat-toolbar>