{{'attributi' | translate}}
<form *ngIf="activeAttributes.length" [formGroup]="formGroup" (ngSubmit)="onSubmit()">


    <table mat-table [dataSource]="[activeColumnNames]" class="mat-elevation-z8" *ngIf="activeColumnNames.length">
        
          <ng-container [matColumnDef]="attribute.attributename!" *ngFor="let attribute of activeAttributes; let i = index">
            <th mat-header-cell *matHeaderCellDef> <label for="control-{{i}}">{{attribute.attributename}}</label> </th>
            <td mat-cell *matCellDef="let column">
                <mat-form-field *ngIf="attribute.attributevaluetype == 'N'">
                    <input id="control-{{i}}" matInput type="number" formControlName="control-{{i}}" />
                </mat-form-field>
                <mat-form-field *ngIf="attribute.attributevaluetype == 'S'">
                    <input id="control-{{i}}" matInput type="text" formControlName="control-{{i}}" />
                </mat-form-field>
                <mat-checkbox id="control-{{i}}" *ngIf="attribute.attributevaluetype == 'Y'" formControlName="control-{{i}}"></mat-checkbox>
                <mat-form-field *ngIf="attribute.attributevaluetype == 'L'">
                    <mat-select id="control-{{i}}" formControlName="control-{{i}}" >
                        <mat-option *ngFor="let option of attribute.optionvalue?.value?.value; let i = index" value="{{attribute.optionvalue?.value?.key?.at(i)}}">{{option}}</mat-option>
                    </mat-select> 
                </mat-form-field>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="activeColumnNames"></tr>
          <tr mat-row *matRowDef="let row; columns: activeColumnNames;"></tr>
        </table>



    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!formGroup.valid">Submit</button>

</form>