{{'attributi' | translate}}
<form *ngIf="activeAttributes.length">
    <ng-container *ngFor="let attribute of activeAttributes">
        <mat-label>{{attribute.attributename}}</mat-label>
        <mat-form-field *ngIf="attribute.attributevaluetype == 'N'">
            <input matInput type="number"  />
        </mat-form-field>
        <mat-form-field *ngIf="attribute.attributevaluetype == 'S'">
            <input matInput type="text" />
        </mat-form-field>
        <mat-checkbox *ngIf="attribute.attributevaluetype == 'Y'"></mat-checkbox>
        <mat-form-field *ngIf="attribute.attributevaluetype == 'L'">
            <mat-select >
                <mat-option *ngFor="let option of attribute.optionvalue?.value?.value">{{option}}</mat-option>
            </mat-select> 
        </mat-form-field>
    </ng-container>
</form>